.wallet-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;

  }
  
  .wallet-heading {
    color: #212529;
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .wallet-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .wallet-balance {
    color: orange;
    font-size: 48px;
    margin-bottom: 30px;
  }
  
  .wallet-button {
    background-color: orange;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .wallet-button:hover {
    background-color: #0069d9;
    text-decoration: none;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .coin-selector {
    margin-bottom: 20px;
  }
  
  .coin-dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
  }