.wallet-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;

  }
  
  .wallet-heading {
    color: #212529;
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .wallet-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .wallet-balance {
    color: orange;
    font-size: 48px;
    margin-bottom: 30px;
  }
  
  .wallet-button {
    background-color: orange;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .wallet-button:hover {
    background-color: #0069d9;
    text-decoration: none;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }